fieldset {
	width:auto;
}

legend {
	font-weight: bold;
	text-align: center;
	color:dimgrey
}

.form {
	width: 580px;
	border: 5px;
	border-color: darkslategray;
	border-style:solid;
	background-color:aliceblue;
	padding: 50px;
	margin:auto;
	font-family:'Courier New', Courier, monospace;
	line-height:2;
}

#box1 {
	width:20%;
	float:left;
}
#box2 {
	width:30%;
	float:left;

}
#box3{
	width:45%;
	float:left;
	padding-left: 10px;

}

#box4 {
	width: 100%;
	margin-top: 5px;
	clear: both;

}

.inside-box {
	font-weight: bold;	

}

textarea {
	resize: none;

}