body {
    font-family: Monaco, Monospace;
    background-image: url("background.jpg");
    background-position: center;
    
}
h1 {
    text-align: center;
}

h2 {
    text-align:center;
    background-color:WhiteSmoke;
}

p {
    text-align: center;
    font-weight:bold
}
table {
    margin-top:20px;
    width:500px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    background-color:LightCyan
}
#suoritetut {
    background-color: lightgreen;
}
table, th, td {
    border: 2px solid;
    border-collapse: collapse;
}

div {
    text-align:center;
    background-color:WhiteSmoke;
    width:500px;
    margin-left:auto;
    margin-right:auto;
}

ul {
  list-style-type: square;
  display: inline-block;
  text-align:left;
}
td {
    text-align: center;
}
th {
    font-size: 120%;
}